Add to <%= @category.name %>

<h4>New Snippets </h4>

<%= form_for [@category, @snippet] do |f| %>
 <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true %>
 </div>

 <div class="field description">
    <%= f.label :description %><br />
    <%= f.text_area :description, cols: 15 %>
 </div>


  <button type="submit" class="btn">
    Add snippet
  </button>
<% end %>

